.section6 {
  background-color: "#000";
  top: 0;
}
@media only screen and (max-width: 900px) {
  .section6 {
    background: url("./img/mobile_bg.png") no-repeat;
    position: relative;
    background-size: cover;
  }
}
@media only screen and (min-width: 900px) {
  .section6 {
    background: url("./img/section6_bg.png") no-repeat;
    position: relative;
    background-size: cover;
  }
}
